click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
PyMySQL==1.0.2
SQLAlchemy==1.4.29
Werkzeug==2.0.2
numpy==1.15.2
scikit-image==0.14.0
PyTorch==1.0.2
torchvision==0.2.1
pillow==8.1.1
python-opencv==1.0.0.14
paddlepaddle==2.3.2
paddlehub==2.3.1
gradio==3.16.1